.form-wrapper {
    max-height: 100%;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    height: 1.2rem;

    & > span {
        margin-right: 16px;
        color: #73738c;
    }
}

.cropper-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 50vh;
}