@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: hsla(253, 65%, 35%, 1);
    --text-color: hsla(0, 0%, 11%, 1);
    --background-color: hsla(315, 100%, 99%, 1);
    --dark-gray: hsla(240, 13%, 68%, 1);
    --light-gray: hsla(240, 10%, 94%, 1);
    --red: hsla(0, 86%, 57%, 1);
    --green: hsla(140, 71%, 44%, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}