.wrapper {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .12);
    -webkit-transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: rgba(10,71,61,1.0000000000);
    border-radius: 10px;
}

.style-name {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.3px;

    &.f-minimalism {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

    &.f-elegant {
        font-family: 'Pandyra', serif;
    }

    &.f-luxury {
        font-family: 'Brand', serif;
    }

    &.f-hand-writing {
        font-family: 'Natural', sans-serif;
    }
}